.box{
  width:250px;
  padding: 10px;
  height:250px;
  background-color: aquamarine;
  border-radius: 15px;
  border: 2px solid black;
  
}
.App{
  display: flex;
  text-align: center;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap:20px;
}